rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuth() {
      return request.auth != null;
    }
    function isOwner(uid) {
      return request.auth.uid == uid;
    }

    match /users/{userId} {
      allow read: if isAuth();
      allow write: if isOwner(userId);
    }

    match /children/{childId} {
      allow read, update, delete: if isAuth() && isOwner(resource.data.parentId);
      allow create: if isAuth() && isOwner(request.resource.data.parentId);
    }

    match /connections/{connectionId} {
      allow read: if isAuth() &&
        (request.auth.uid == resource.data.parentId ||
         request.auth.uid == resource.data.caregiverId ||
         request.auth.token.email == resource.data.inviteEmail);

      allow create: if isAuth() &&
        isOwner(request.resource.data.parentId);

      allow update: if isAuth() &&
        (request.auth.uid == resource.data.parentId ||
         request.auth.uid == resource.data.caregiverId);
    }
  }
}
