rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Avatars enfants — lecture publique auth, écriture parent authentifié
    match /avatars/children/{childId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }

    // Avatars utilisateurs — lecture publique auth, écriture propriétaire uniquement
    match /avatars/users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
